<template>
  <div class="home">
    <Login/>
  </div>
</template>

<script>
// @ is an alias to /src
import Login from '@/components/LoginForm.vue'
export default {
  name: 'HomeView',
  components: {
    Login
  }
}
</script>
