<template>
    <div class="resister">
      <Member/>
    </div>
</template>
  
  <script>
  // @ is an alias to /src
  import Member from '@/components/MemberForm.vue'
  export default {
    name: 'ResisterView',
    components: {
      Member
    }
  }
  </script>