<template>
  <WelcomeForm/>
</template>

<script>
// @ is an alias to /src
import WelcomeForm from '@/components/WelcomeForm.vue'

export default {
  name: 'WelcomeView',
  components: {
    WelcomeForm
  }
}
</script>
