<template>
  <div>
  <img src="@/assets/TITLE_LOGO.jpg" alt="SAY HELLO TO BIKE ロゴ" style="width: 30%"/>
  <ul id="example-1">
      <li v-for="message in validationErrors.validates" :key="message">
        {{ message }}
      </li>
  </ul>
  <div class="login-form-container">
    <!-- <el-form :model="form" class="custom-form" style="width: 50%"：model＠TODO 確認する> -->
    <el-form class="custom-form" style="width: 30%">
      <el-form-item label="メールアドレス" class="custom-form-item">
        <el-input
          v-model="init.email"
          placeholder="登録したメールアドレスを入力してください"
          class="custom-input"
        />
      </el-form-item>
      <el-form-item label="パスワード" class="custom-form-item">
        <el-input
          v-model="init.password"
          placeholder="登録したパスワードを入力してください"
          class="custom-input"
        />
      </el-form-item>
      <el-button type="primary" @click="goWelcome">ログイン</el-button>
      <el-button type="primary" @click="goResister">新規登録はこちら</el-button>
    </el-form>
  </div>
  </div>
</template>

<script setup>
import { useRouter } from "vue-router";
const router = useRouter();
import { reactive, computed } from "vue";
import "@/assets/style.css";
import "element-plus/dist/index.css";
import validations from "@/module/validate"
const init = reactive({
  email: "",
  password: "",
});


const validationErrors = computed(() => {
  const errors = {
    validates: [],
  };
  validations.emailValidate(init.email,errors.validates)
  validations.passwordValidate(init.password,errors.validates)
  return errors;
});

const goWelcome = () => {
  router.push({
    path: "/welcome",
  });
};

const goResister = () => {
  router.push({
    path: "/resister",
  });
};
</script>
<style scoped>
.login-form-container {
  display: flex;
  justify-content: center;
}
</style>

<style>
ul,li{
  color: white; 
}
/* element-ulでのラベル文字色の変更 */
.custom-form-item .el-form-item__label {
  color: white; /* ラベル要素の文字色を白色に設定 */
}
</style>
