<template>
  <div class="member-form-container">
    <div class="status-container">
      <p class="my-profile-image"></p>
      <ul>
        <li>目的地</li>
        <li>目的地</li>
        <li>行き先は●●です</li>
      </ul>
    </div>
      <div class="map-container container">
        <div id="map"></div>
      </div>
      <div class="slider-demo-block">
        <span class="demonstration">Default value</span>
        <el-slider v-model="init.zoomValue" />
        <ul class="alart-container">
          <li>●●さん</li>
          <li>服装:</li>
          <li>ナンバー:</li>
          <li>車種</li>
        </ul>
        <!-- <el-input v-model="bikeInform.cloth" placeholder="服装" class="container"></el-input>
    <el-input v-model="bikeInform.carNum" placeholder="バイクのナンバー" class="container"></el-input>
    <el-input v-model="bikeInform.typeOfBike" placeholder="車種" class="container"></el-input> -->
    </div>

  </div>
</template>

<script setup>
import { onMounted, ref,reactive} from "vue";
import io from "socket.io-client";
import "element-plus/dist/index.css";
import errorMessages from '@/module/error'

const init = reactive({
  zoomValue:15
})
const socket = io("http://localhost:3000", {
  transports: ["websocket"],
  withCredentials: true,
});
let map = ref(null);
const markers = ref([]);
let myLocation = ref([]);

onMounted(async () => {
  const google = window.google;
  // ①現在の位置情報を取得する
  navigator.geolocation.getCurrentPosition(
    (position) => {
      // ＊position=現在位置
        // ②google=現在位置をMAPにマウント
      const google = window.google;
      console.log("google",google)
      map.value = new google.maps.Map(document.getElementById("map"), {
        center: {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        },
        zoom: init.zoomValue
      });
  // ここまでが自分の画面に自分の位置を取得する
  // ②WEBソケットに自分の位置情報を送信する
  // emit→送信、第一引数→socket.on(”WEBSOCKERTはことで繋がってる"、第二引数→送信したい値)
  // ＊これ大事！
      socket.emit("location", {
        lat: position.coords.latitude,
        lng: position.coords.longitude,
        name: "Your Name Here",
        distination:"東京"
      });
  // ④WATCHを使って位置情報が変更されたら都度送信すること
      navigator.geolocation.watchPosition(
        (position) => {
          console.log("emitされました", position.coords.latitude);
          myLocation = {
    lat: position.coords.latitude,
    lng: position.coords.longitude,
  };
          //＠TODO 自分の名前をサーバーから取得する
          socket.emit("location", {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
            name: "Your Name Here",
            distination:"東京",
            image:"./myicon.jpeg"
          });
        },
        (error) => {
          // 位置情報を取得できなかった時の処理
          window.alert(errorMessages.translateErrorMessage(error))
        }
      );
    },
    (error) => {
      // 現在位置を取得できなかった時の処理
      window.alert(errorMessages.translateErrorMessage(error))
    },
    {
    enableHighAccuracy: true,
    timeout: 10000,
    maximumAge: 1000,
    }
  );
// taniは簡単に変えてはいけない！
// WEBソケットから受信を行う作業

  socket.on("friends", (location) => {
    console.log("friends",location)
      // 他の人の位置情報と自分の位置情報を比較
    const distance = getDistance(myLocation, location);
    
    if (distance <= 1000) {
      // 半径1km内に他の人がいる場合の処理
      // 通知を行うなどの操作を実装
      alert("半径ーMに友人がいます。手を振りましょう")
    }
    let marker = markers.value.find((m) => m.getTitle() === location.name);
    if (!marker) {
      marker = new google.maps.Marker({
        position: location,
        map: map.value,
        title: location.name,
        icon: {
          url: "./myicon.jpeg",
          scaledSize: new google.maps.Size(20, 20),
        },
      });
      console.log("maker",marker)
      markers.value.push(marker);
      console.log("makers",markers)
    } else {
      marker.setPosition(location);
    }

    console.log("最終的なロケーション",location)
  });
    //距離が近くなった時に通知をかける


});

// 2点間の距離を計算する関数
function getDistance(location1, location2) {
  const lat1 = location1.lat;
  const lon1 = location1.lng;
  const lat2 = location2.lat;
  const lon2 = location2.lng;

  const R = 6371; // 地球の半径（km）
  const dLat = toRad(lat2 - lat1);
  const dLon = toRad(lon2 - lon1);
  const a =
    Math.sin(dLat / 2) * Math.sin(dLat / 2) +
    Math.cos(toRad(lat1)) *
      Math.cos(toRad(lat2)) *
      Math.sin(dLon / 2) *
      Math.sin(dLon / 2);
  const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
  const distance = R * c;

  return distance;
}

// 角度をラジアンに変換する関数
function toRad(value) {
  return (value * Math.PI) / 180;
}
</script>

<style scoped>
#map {
  height: 400px;
  width: 30%;
  margin: 0 auto;
}
.member-form-containe{
  display:flex;
  flex-direction: column;
  width:30%;
}
.status-container{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width:30%;
}
.my-profile-image {
  height: 100px;
  width: 30%;
  background-image: url('./../../public/myicon.jpeg');
  background-size: cover;
  background-position: center;
  /* background: #666 url(https://bcrikko.github.io/web-design-practices/single-page-layout/asset/header.jpg) no-repeat; */
}
.profile-container{
  background-color: white;
}
.slider-demo-block{
  width: 30%;
  margin: 0 auto;
}
.alart-container{
  background-color: white;
}
.container{
  margin:10px;
}
ul.alart-container {
  text-align: left;
}

ul li {
  color:red;
}

</style>

<!-- API -->
<!-- AIzaSyDBFLE1yidUBaXXmsVjS31lOVKyUaqIPlk -->
<!-- ハマったこと -->
<!-- git commit -m "これは重要でsocketonの第一引数は一意出ないとだめ -->
<!-- 接続を確認するコマンド
// async function test() {
  //   try {
  //     const response = await fetch('http://localhost:8000/api/userInfo/');
  //     const data = await response
  //     console.log(data);
  //   } catch (error) {
  //     console.error(error);
  //   }
  // } -->
