
<template>
  <div class="member-form-container">
    <h2>新規登録</h2>
    <img src="@/assets/スタート.jpg" alt="SAY HELLO TO BIKE ロゴ" style="width: 30%"/>
    <ul id="example-1">
      <li v-for="message in validationErrors.validates" :key="message">
        {{ message }}
      </li>
    </ul>
    <!-- <el-form :model="form" class="custom-form" style="width: 40%"> -->
    <el-form class="custom-form" style="width: 30%">
      <el-form-item label="ニックネーム" class="custom-form-item">
        <el-input
          v-model="init.nickname"
          placeholder="ニックネームを入力してください"
          class="custom-input"
        />
      </el-form-item>
      <el-form-item label="メールアドレス" class="custom-form-item">
        <el-input
          v-model="init.email"
          placeholder="メールアドレスを入力してください"
          class="custom-input"
        />
      </el-form-item>
      <el-form-item label="パスワード" class="custom-form-item">
        <el-input
          v-model="init.password"
          placeholder="パスワードを入力してください"
          class="custom-input"
        />
      </el-form-item>
      <el-form-item label="パスワード(確認)" class="custom-form-item">
        <el-input
          v-model="init.passwordconfirm"
          placeholder="パスワードを入力してください"
          class="custom-input"
        />
      </el-form-item>
      <p>好きな観光地について書いてください</p>
      <el-form-item
        class="custom-form-item"
      >
        <el-input
          v-model="init.purpose"
          placeholder="好きな観光地について書いてください"
          :autosize="{ minRows: 2, maxRows: 5 }"
          class="custom-input"
          type="textarea"
        />
      </el-form-item>
      <div class="fileInput-container">
        <input type="file"       
          @change="handleFileUpload($event)"
          accept="image/*"
          capture/>
        <button @click="uploadImage">Upload</button>
      </div>
      

    </el-form>
    <div class="button-container">
      <el-button @click="resister"  type="primary">登録</el-button>
      <el-button @click="logout" type="primary">TOP</el-button>
    </div>

  </div>
</template>


<script setup>
import { useRouter } from "vue-router";
import { reactive, computed,ref } from "vue";
import "element-plus/dist/index.css";
import validations from "@/module/validate"
import axios from 'axios';

const router = useRouter()
const init = reactive({
  nickname: "",
  email: "",
  password: "",
  passwordconfirm: "",
  purpose: "",
});

const validationErrors = computed(()=>{
  const errors = {
    validates: []
  }
  validations.emailValidate(init.email,errors.validates)
  validations.passwordValidate(init.password,errors.validates)
  
  return errors
})
// ファイルをアップロードする準備をする
const file = ref(null);
const handleFileUpload = ($event)=> {
      file.value = $event.target.files[0]
      console.log(file.value)
}

const resister = () => {
  // フォームのデータをAPIに送信する処理
  const data = {
    nickname: init.nickname,
    email: init.email,
    password: init.password,
    passwordconfirm: init.passwordconfirm,
    purpose: init.purpose,
    file: file.value
  };
  console.log(data)
  // APIエンドポイントに対してPOSTリクエストを送信
  // @TODO API実装後に保存
  axios.post('/api/endpoint', data)
    .then(response => {
      // 成功時の処理
      console.log('APIリクエストが成功しました', response.data);
    })
    .catch(error => {
      // エラー時の処理
      console.error('APIリクエストが失敗しました', error);
  });
};

const logout = ()=>{
  router.push({
    path: '/' 
  })
}

</script>
<style setup>
.button-container{
  display: flex;
  justify-content: center;
}
.member-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.fileInput-container input,button{
  margin-top: 16px;
}
ul,li,h2,p{
  color:white;
}

</style>