<template>
  <div class="title-container container" >
    <h2>●●さん、ようこそ！</h2>
    <p>出発されますか？</p>
  </div>
  <div class="img-container container">
    <img src="@/assets/バイク.jpg" alt="SAY HELLO TO BIKE ロゴ" style="width: 30%" />
  </div>
  <div class="distance-container container">
    <el-select v-model="selectedDistance" placeholder="通知する距離を選択してください">
      <el-option label="500m" value="500"></el-option>
      <el-option label="1km" value="1000"></el-option>
      <el-option label="2km" value="2000"></el-option>
      <el-option label="3km" value="3000"></el-option>
    </el-select>
  </div>
  <div class="feature-container container">
    <el-input v-model="bikeInform.cloth" placeholder="服装" class="container"></el-input>
    <el-input v-model="bikeInform.carNum" placeholder="バイクのナンバー" class="container"></el-input>
    <el-input v-model="bikeInform.typeOfBike" placeholder="車種" class="container"></el-input>
  </div>
  <div class="button-container">
    <el-button @click="goMap" type="primary">出発</el-button>
    <el-button @click="logout" type="primary">ログアウト</el-button>
  </div>

</template>

<script setup>
import "@/assets/style.css";
import "element-plus/dist/index.css";
import { useRouter } from 'vue-router'
import {reactive, ref} from 'vue'
const router = useRouter()
const selectedDistance = ref(null)
const goMap = ()=>{
    router.push({
        path:'/map'
    })
}
const bikeInform = reactive({
  cloth:null,
  carNum:null,
  typeOfBike:null
})
const logout = ()=>{
  router.push({
    path: '/' 
  })
}
// ●●さんのところから受付名を取得したい

</script>
<style scoped>
.title-container h2,p{
  color:white;
}
.container{
  margin:10px;
}
.feature-container{
  width:30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

</style>